* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d8e1e9;
}

#cabecalho {
  background-color: #f49cbb;
  text-align: center;
  padding: 20px;
}

#logo {
  padding-bottom: 10px;
  color: #233d4d;
  font-size: 20px;
  font-style: italic;
}

.pink {
  color: #ffffff;
}

#menu {
  padding-bottom: 8px;
  padding-top: 5px;
}

.limenu {
  list-style: none;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.limenu:hover {
  background-color: #fe5d9f;
}

.limenu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

#principal1 {
  width: 920px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

#postagem {
  width: 640px;
  background-color: #ffffff;
  float: left;
  padding: 10px;
}

#postagem2 {
  width: 640px;
  background-color: #ffffff;
  float: left;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.imagem {
  padding-top: 10px;
}

.link {
  color: #fe5d9f;
}

.linklateral {
  color: #fe5d9f;
  padding: 2px;
  padding-top: 0px;
  margin-bottom: 20px;
}

#topico1 {
  color: #e36414;
}

#topico2 {
  color: #679436;
}

.legenda {
  padding-bottom: 5px;
  font-size: 12px;
}

#lateral1 {
  background-color: #ffffff;
  width: 250px;
  float: right;
}

.topicolateral {
  padding: 10px;
  text-align: center;
}

#topicolateral1 {
  color: #679436;
  background-color: #dbe7e4;
  padding: 5px;
}

.textolateral1 {
  padding: 0px 10px;
  padding-bottom: 0px;
   font-size: 14px;
  text-align: justify;
}

.textolateral2 {
  padding: 0px 10px;
  padding-top: 15px;
   font-size: 14px;
  text-align: justify;
}


.lilateral {
display: block;
color: #fe5d9f;
font-size: 15px;
padding-left: 15px;
padding-bottom: 5px;
font-weight: bold;

}




.lilateral a {

  color: #fe5d9f;
  text-decoration: none;
  
}

.lilateral:hover{
background: none;
text-decoration: underline;
}

.linhalateral{

  border: 1px dashed #679436;
 
margin-top: 10px;
}

#lateral2 {
  background-color: #ffffff;
  margin-top: 20px;
  width: 250px;
  float: right;
}

#topicolateral2 {
  color: #679436;
  background-color: #dbe7e4;
  padding: 5px;
}


#rodape {
  background-color: #caf0f8;
  clear: both;
  padding: 20px;
  text-align: center;
}
